Package: simplegazetracker-dbgsym
Package-Type: ddeb
Source: simplegazetracker
Version: 0.11.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Hiroyuki Sogo <hsogo@ehime-u.ac.jp>
Installed-Size: 790
Depends: simplegazetracker (= 0.11.1)
Section: debug
Priority: optional
Description: debug symbols for simplegazetracker
Build-Ids: 3d2b38ac38555d90b3485a65afa0485126b45e92
