#backup
*~

#misc
*.log

#python
build/
dist/
_build/
*.egg-info
*.pyc

#C++
*.o

#simplegazetracker
autom4te.cache/

#automake
#to generate these files, exec following commands.
# aclocal
# autoheader
# automake --add-missing
# autoconf
aclocal.m4
configure
makefile.in
compile

#dpkg-buildpackage
GazeParser/debian/gazeparser/
SimpleGazeTracker/debian_opencv/simplegazetracker/
SimpleGazeTracker/debian_flycap/simplegazetracker-flycap/

#VisualStudio
*.bak
*.cache
*.exe
*.idb
*.ilk
*.manifest
*.manifest.res
*.manifest.rc
*.msi
*.obj
*.pdb
*.sdf
*.suo
*.tlh
*.tli
*.tlog
*.user
*.opensdf
SimpleGazeTracker/ipch
SimpleGazeTracker/.vs
[Dd]ebug*/
[Rr]elease*/

#Windows
Thumbs.db

