Source: simplegazetracker-spinnaker
Section: science
Priority: optional
Maintainer: Hiroyuki Sogo <hsogo@ehime-u.ac.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: http://gazeparser.sourceforge.net/
#Vcs-Git: git://git.debian.org/collab-maint/simplegazetracker.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/simplegazetracker.git;a=summary

Package: simplegazetracker-spinnaker
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gazeparser, psychopy, fonts-freefont-ttf, ttf-freefont
Description: Open-source eye tracker
 Open-source eye tracking software for experimental psychology.
 Please see http://gazeparser.sourceforge.net/ for detail.
