Package: simplegazetracker-flycap
Version: 0.8.2
Architecture: amd64
Maintainer: Hiroyuki Sogo <hsogo@ehime-u.ac.jp>
Installed-Size: 247
Depends: libc6 (>= 2.17), libflycapture2 (>= 2.8.3.1), libgcc1 (>= 1:4.1.1), libopencv-core2.4, libopencv-highgui2.4, libopencv-imgproc2.4, libsdl-net1.2, libsdl-ttf2.0-0, libsdl1.2debian (>= 1.2.11), libstdc++6 (>= 4.6), libusb-1.0-0 (>= 2:1.0.8)
Recommends: gazeparser, psychopy, octave-psychtoolbox-3, fonts-freefont-ttf, ttf-freefont
Section: science
Priority: extra
Homepage: http://gazeparser.sourceforge.net/
Description: Open-source eye tracker
 Open-source eye tracking software for experimental psychology.
 Please see http://gazeparser.sourceforge.net/ for detail.
