[Desktop Entry]
Encoding=UTF-8
GenericName=GazeParser Data Viewer
Name=GazeParserDataViewer
Exec=gazeparser_viewer
TryExec=gazeparser_viewer
Type=Application
Terminal=false
Categories=Graphics;Science
Icon=gazeparser_viewer.xpm

